@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primarybg: #171717;
    --color-secondarybg: #0e0e0e;
    --color-accentx: #535353;
    --color-hover-icon: #1f1f1f;
    --color-active: #009000;
    --color-inactive: #D22B2B;

    --font-firacode: "firacode", monospace;
}

body {
    background-color: var(--color-primarybg) !important;
}

html {
  background-color: var(--color-primarybg) !important;
}
  
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #262626; /* dark track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b1b1b1; /* light thumb */
    border-radius: 8px;
  }
  
  .clients-table {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #007 white; /* Firefox */
    overflow: auto; /* Make sure overflow is on */
  }
  
  /* Webkit browsers (Chrome, Edge, Safari) */
  .clients-table::-webkit-scrollbar {
    width: 8px;
    background: white;
  }
  
  .clients-table::-webkit-scrollbar-thumb {
    background-color: #007;
    border-radius: 8px;
    border: 2px solid white; /* nice gap between thumb and track */
  }
  
  /* Remove scrollbar buttons (top/bottom arrows) if they exist */
  .clients-table::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  * {
    user-select: none;
  }
  
  .reverse-shell, 
  .reverse-shell * {
    user-select: text;
    font-family: var(--font-firacode) !important;
  }

  .table-zebra {
    & tbody {
        & tr {
            &:nth-child(even) {
                background-color: var(--color-primarybg) !important;
            }
        }
    }
  }

  @font-face {
    font-family: "firacode";
    display: swap;
    src: url("../fonts/FiraCodeNerdFontMono-Regular.ttf");
}

.world-map svg {
  stroke: #fff;
  stroke-width: 0.4px;
}

.world-map svg path {
  fill: var(--color-primarybg); /* default background color */
  cursor: pointer;
  outline: none;
  transition: fill 0.3s ease;
}

/* Hover effect */
.world-map svg path:hover {
  fill: var(--color-accentx);
  cursor: default !important;
}