@import "tailwindcss";


@theme {
    --color-primarybg: #171717;
    --color-secondarybg: #0e0e0e;
    --color-accent: #535353;
    --color-hover-icon: #1f1f1f;
    --color-active: #009000;
    --color-inactive: #D22B2B;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #262626; /* dark track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b1b1b1; /* light thumb */
    border-radius: 8px;
  }