@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primarybg: #171717;
    --color-secondarybg: #0e0e0e;
    --color-accentx: #535353;
    --color-hover-icon: #1f1f1f;
    --color-active: #009000;
    --color-inactive: #D22B2B;

    --font-firacode: "firacode", monospace;
}

body {
    background-color: var(--color-primarybg) !important;
}

html {
  background-color: var(--color-primarybg) !important;
}
  
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #262626; /* dark track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b1b1b1; /* light thumb */
    border-radius: 8px;
  }
  
  .clients-table {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #007 white; /* Firefox */
    overflow: auto; /* Make sure overflow is on */
  }
  
  /* Webkit browsers (Chrome, Edge, Safari) */
  .clients-table::-webkit-scrollbar {
    width: 8px;
    background: white;
  }
  
  .clients-table::-webkit-scrollbar-thumb {
    background-color: #007;
    border-radius: 8px;
    border: 2px solid white; /* nice gap between thumb and track */
  }
  
  /* Remove scrollbar buttons (top/bottom arrows) if they exist */
  .clients-table::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  * {
    user-select: none;
  }
  
  .reverse-shell, 
  .reverse-shell * {
    user-select: text;
    font-family: var(--font-firacode) !important;
  }

  .table-zebra {
    & tbody {
        & tr {
            &:nth-child(even) {
                background-color: var(--color-primarybg) !important;
            }
        }
    }
  }

  @font-face {
    font-family: "firacode";
    display: swap;
    src: url("../fonts/FiraCodeNerdFontMono-Regular.ttf");
}

.world-map svg {
  stroke: #fff;
  stroke-width: 0.4px;
}

.world-map svg path {
  fill: var(--color-primarybg); /* default background color */
  cursor: pointer;
  outline: none;
  transition: fill 0.3s ease;
}

/* Hover effect */
.world-map svg path:hover {
  fill: var(--color-accentx);
  cursor: default !important;
}

.piano * {
  box-sizing: border-box;
}

.piano li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
  cursor: pointer;
}

.piano .white {
  height: 8em;
  width: 3em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}

.piano .white:active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}

.piano .black {
  height: 4em;
  width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
              0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset,
              0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%);
}

.piano .black:active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
               0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset,
               0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #444 0%, #222 100%);
}

.piano .a,
.piano .g,
.piano .f,
.piano .d,
.piano .c {
  margin: 0 0 0 -1em;
}

.piano ul li:first-child {
  border-radius: 5px 0 5px 5px;
}

.piano ul li:last-child {
  border-radius: 0 5px 5px 5px;
}
